<!DOCTYPE html>
<html lang="en">
    <head>
        <title>for god sake pls work</title>
    </head>
    <body>
        <h3>which one is the 'GAME OF THE YEAR' in 2020 ???</h3>
        <button id="1num1">Hades</button>
        <button id="1num2">Call Of Duty: Cold War</button>
        <button id="1num3">The Last Of Us: Part 2</button>
        <button id="1num4">Ghost Of Tsushima</button>
        <h4 id="score1"></h4>
        <h4 id="score2"></h4>


        <script>

            let score = 0;

            function increase() {
                score += 1
            }


            let question_number = 0;

            function question_num_increase() {
                question_number += 1;
            }


            document.querySelector('#num1').onclick = function() {
                if(question_number == 1) {
                    document.querySelector('#num1').style.background = "red";
                    document.getElementById("score1").innerHTML = score;
                    question_num_increase()
                }
            }

            document.querySelector('#num2').onclick = function() {
                if(question_number < 1) {
                    document.querySelector('#num2').style.background = "red";
                    document.getElementById("score1").innerHTML = score;
                    question_num_increase()
                }
            }

            document.querySelector('#num3').onclick = function() {
                if(question_number < 1) {
                    document.querySelector('#num3').style.background = "green";
                    question_num_increase()
                    increase()
                    document.getElementById("score1").innerHTML = score;
                    document.getElementById("score2").innerHTML = question_number;

                }
            }

            document.querySelector('#num4').onclick = function() {
                if(question_number < 1) {
                    document.querySelector('#num4').style.background = "red";
                    document.getElementById("score1").innerHTML = score;
                    question_num_increase()
                }

            }

        </script>
    </body>
</html>