.xxlarge
{
    font-size: XX-Large;
}
.xlarge
{
    font-size: X-Large;
}
.large
{
    font-size: large;
}
.red
{
    color: red;
}
.blue
{
    color: blue;
}
.kawhite
{
    color: whitesmoke;
}
.kagrey
{
    color: grey;
}
.forca
{
    color: #eedba7;
}































































































.center
{
    text-align: center;
}