.xxlarge
{
    font-size: XX-Large;
}
.xlarge
{
    font-size: X-Large;
}
.large
{
    font-size: large;
}
.red
{
    color: red;
}
.blue
{
    color: blue;
}
































































































.center
{
    text-align: center;
}