{% extends "layout.html" %}
{% block body %}
<style>
    body {
      background-image: url('https://images4.alphacoders.com/879/87918.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
</style>
<font size="+50" class="kagrey">Més </font>
<font size="+20" class="kawhite">que </font>
<font size="+20" class="kagrey">un </font>
<font size="+20" class="kawhite">club</font>
<p class="forca xxlarge">Força Barça</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<p class="kagrey xxsmall">.</p>
<footer class="center" style="color: grey; background-color: rgb(17, 17, 17);">
  <h6>Copy right &#169</h1>
  <h6>Manufacturers : Kian Fotovat And Kamran Fotovat</h1>
  <h6>Email us with (kianof2018@gmail.com) And (kamran.fotovat2018@gmail.com)</h1>
  <h6>Contact with us +98 9178656016 And +98 9175118377</h1>
</footer>
{% endblock %}
