<!DOCTYPE html>
<html lan="en">
    <head>
        <style>
            body {
              background-image: url('https://www.dosde.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/b/o/book-fc-barcelona-bar%C3%A7a-illustrated-history-of-the-football-club_978-84-9103-081-2_55-001-01_B12.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <h3>How many balon dors does cruyff have?</h3>
        <button id="1num1">0</button>
        <button id="1num2">1</button>
        <button id="1num3">2</button>
        <button id="1num4">3</button>


        <h3>Since what year has Barca used The Nou Camp as their stadium?</h3>
        <button id="2num1">1957</button>
        <button id="2num2">1968</button>
        <button id="2num3">1954</button>
        <button id="2num4">1975</button>


        <h3>From what club did Johan Cruyff move to Barca?</h3>
        <button id="3num1">Feyenoord</button>
        <button id="3num2">Ajax</button>
        <button id="3num3">Tottenham Hotspur</button>
        <button id="3num4">Arsenal</button>


        <h3>When was the club founded?</h3>
        <button id="4num1">1878</button>
        <button id="4num2">1897</button>
        <button id="4num3">1899</button>
        <button id="4num4">1931</button>


        <h3>What was Barca's biggest win against Real Madrid in the 20th Century?</h3>
        <button id="5num1">6_2</button>
        <button id="5num2">5_0</button>
        <button id="5num3">5_1</button>
        <button id="5num4">7_2</button>



        <script>
            document.querySelector('#1num1').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#1num2').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#1num3').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#1num4').onclick = function() {
                document.querySelector('#1num1').style.background = "green";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };




            document.querySelector('#2num1').onclick = function() {
                document.querySelector('#1num1').style.background = "green";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#2num2').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#2num3').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#2num4').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };



            document.querySelector('#3num1').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#3num2').onclick = function() {
                document.querySelector('#1num1').style.background = "green";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#3num3').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#3num4').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };



            document.querySelector('#4num1').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#4num2').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#4num3').onclick = function() {
                document.querySelector('#1num1').style.background = "green";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#4num4').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };



            document.querySelector('#5num1').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#5num2').onclick = function() {
                document.querySelector('#1num1').style.background = "green";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#5num3').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };
            document.querySelector('#5num4').onclick = function() {
                document.querySelector('#1num1').style.background = "red";
                document.querySelector('#1num2').style.background = "white";
                document.querySelector('#1num3').style.background = "white";
                document.querySelector('#1num4').style.background = "white";
                wrong();
            };

        </script>
    </body>
</html>